In [1]:
import pandas as pd
import numpy as np

In [17]:
df_train = pd.read_csv("training_data/train/train.csv")
df_transactions = pd.read_csv("training_data/train/transactions.csv")
df_test = pd.read_csv("testing data/test_8gqdJqH.csv")
df_submission = pd.read_csv("submission/sample_submission_TQv3O0x.csv")

In [6]:
df_train.head()

          doj  srcid  destid  final_seatcount
0  2023-03-01     45      46           2838.0
1  2023-03-01     46      45           2298.0
2  2023-03-01     45      47           2720.0
3  2023-03-01     47      45           2580.0
4  2023-03-01     46       9           4185.0

In [7]:
df_train.isnull().sum()

doj                0
srcid              0
destid             0
final_seatcount    0
dtype: int64

In [10]:
df_train.shape

(67200, 4)

In [20]:
df_train.describe()

              srcid        destid  final_seatcount
count  67200.000000  67200.000000     67200.000000
mean      29.550000     29.750000      2001.729464
std       16.670082     15.938986      1194.711140
min        1.000000      1.000000         2.000000
25%       14.750000     15.750000      1252.000000
50%       36.000000     34.500000      1685.000000
75%       45.000000     45.000000      2408.000000
max       48.000000     48.000000     13503.000000

In [8]:
df_transactions.head()

,doj,doi,srcid,destid,srcid_region,destid_region,srcid_tier,destid_tier,cumsum_seatcount,cumsum_searchcount,dbd
0,2023-03-01,2023-01-30,45,46,Karnataka,Tamil Nadu,Tier 1,Tier 1,8.0,76.0,30
1,2023-03-01,2023-01-30,46,45,Tamil Nadu,Karnataka,Tier 1,Tier 1,8.0,70.0,30
2,2023-03-01,2023-01-30,45,47,Karnataka,Andhra Pradesh,Tier 1,Tier 1,4.0,142.0,30
3,2023-03-01,2023-01-30,47,45,Andhra Pradesh,Karnataka,Tier 1,Tier 1,0.0,68.0,30
4,2023-03-01,2023-01-30,46,9,Tamil Nadu,Tamil Nadu,Tier 1,Tier2,9.0,162.0,30

In [9]:
df_transactions.isnull().sum()

doj                   0
doi                   0
srcid                 0
destid                0
srcid_region          0
destid_region         0
srcid_tier            0
destid_tier           0
cumsum_seatcount      0
cumsum_searchcount    0
dbd                   0
dtype: int64

In [11]:
df_transactions.shape

(2266100, 11)

In [14]:
df_test.head()

          route_key         doj  srcid  destid
0  2025-02-11_46_45  2025-02-11     46      45
1  2025-01-20_17_23  2025-01-20     17      23
2  2025-01-08_02_14  2025-01-08      2      14
3  2025-01-08_08_47  2025-01-08      8      47
4  2025-01-08_09_46  2025-01-08      9      46

In [15]:
df_test.isnull().sum()

route_key    0
doj          0
srcid        0
destid       0
dtype: int64

In [16]:
df_test.shape

(5900, 4)

In [18]:
df_submission.head()

          route_key  final_seatcount
0  2025-02-11_46_45                0
1  2025-01-20_17_23                0
2  2025-01-08_02_14                0
3  2025-01-08_08_47                0
4  2025-01-08_09_46                0